.my-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.upload-label {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-slider.slick-initialized {
  width: 200px;
  margin: 0 auto;
}

button.btn-save {
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn-save:hover {
  background-color: #0056b3;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}

.input {
  color: #000;
}

.profile-image input[type="file"] {
  margin-top: 50px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.profile-info input {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
}

.liked-courses,
.subscribed-courses {
  margin: 30px auto;
  position: relative;
}