@charset "UTF-8";
/*!!!!!!!!!!!!!!!!!!!!!!그냥 추가!!!!!!!!!!!!!!!!!!!!!!!!*/
.alarm-switch, .interest-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--app-content-main-color);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  cursor: pointer;
}
.interest-switch.active .interest {
  fill: white;
}

.interest-switch .interest {
  fill: none;
}

.alarm-switch.active .alarm {
  fill: white;
}

.alarm-switch .alarm {
  fill: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!메인이랑 겹침!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.products-row.search {
  height: 340px;
}

.products-row.custom {
  display: inline-block;
  margin: 8px;
  width: 48%;
  background-color: var(--app-content-secondary-color);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}

.product-cell.custom {
  color: var(--app-content-main-color);
  font-size: 24px;
  margin-bottom: 8px;
}

.product-cell.custom.image span {
  font-size: 40px;
  line-height: 10vh;
}

.product-cell.custom img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 40px;
}

.lecture-price-chart.custom {
  margin-top: 70px;
  margin-left: 20px;
}

